*{
    margin: 0%;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: row;
}
.para{
    font-size: large;
    padding: 50px;
}
.para a{
    text-decoration: none;
    font-size: 23px;
    font-weight: 200;
    color: black;
    font-weight: bolder;
}
hr{
    display: flex;
    flex-direction: column;
}
.m{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    padding: 2%;
}
.one{
    margin-left: 6%;
    margin-top: 1%;
}
/* .two{
    margin-left: 2%;
}  */
.head{
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    font-size: 16px;
    margin-top: 2%;
    /* margin-right: 2%;  */
    padding-right: 12%;
}
.three{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(39, 38, 38);
    font-size: 20px;
    margin-left: 10%;
    margin-top: 1.5%;
}
.four{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-right: 15%; 
    margin-left: 5%;
    margin-top: 1%;
    font-weight: 200;
}
.five{
    font-size: 18px;
    margin-right: 12%; 
    margin-left: 8%;
    font-family: 'Times New Roman', Times, serif;
    
}
input[type="password"]{
   
   font-size: 20px;
   height: 80%;
   padding: 5%;
 margin-left: 5%; 
   

}
.m a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(9, 140, 248);
    font-weight: 100;
    margin-right: 6%;
    margin-top: 1%;
}
.btn{
    text-align: center;
    background-color: rgb(251, 2, 2);
    width: 20%;
    font-size: 20px;
    border:none;
    margin-top: 2%;
    margin-left: 4%;
    padding: 1%;   
}
.btn:hover{
    background-color: brown;
}
